#appHolder{
    /*display: inline-flex;*/
    width:500px;
    margin-left:60px;
    margin-top:40px;
    /*border:solid 2px red;*/
    position:relative;
}
#lookup{
    height:30px;
}
#sectionHolder{
}

#user_input{
    text-transform: uppercase;
}
.hide{
    display:none;
}
.show{
    display:inherit;
}
.sectionHolder{
    margin-left:10px;
    width:420px;
    min-height:40px;
    position:relative;
}
.section{
    width:70px !important;
    display:inline-block !important;
}
.sectionDescription{
    width:324px !important;
    display:inline-block !important;
}